name: Python package

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip wheel
        if [ -f requirements_testing.txt ]; then pip install -r requirements_testing.txt; fi
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Lint with mypy
      run: |
        mypy app
    - name: Test with pytest
      run: |
        PYTHONPATH=. pytest --integration
